
MySnake/Saved/AutoScreenshot.png
MySnake/Saved/Config/Windows/EditorPerProjectUserSettings.ini
MySnake/Saved/Config/Windows/Engine.ini
MySnake/Saved/Config/Windows/SourceControlSettings.ini
MySnake/Saved/Logs/MySnake.log

